@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.code{
    width: 70%;
    border-left: 6px solid #6b5454;
    box-shadow: 5px 4px 4px #ada8a8;
    padding: .5em;
    margin: 0.8em 0em;
    background-color: #edeaea;
}

.body{
    max-width: 90%;
    margin: auto; 
}
.main-header {
    background: rgb(245,251,250);
    background: linear-gradient(90deg, rgba(245,251,250,1) 0%, rgba(5,110,89,1) 43%, rgba(1,1,0,1) 100%);
    padding: 30px 25px;
}
.main-header img{
	padding-bottom: 40px;
	width: 200px;
	height: 200px; 
	object-fit: cover; 
	object-position: 50% 0;
} 
